<h1>Authorize Users to have access to ProjectScope</h1>

<%= render 'add' %>

<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<%= link_to 'Back', whitelists_path %>
