%p= link_to "Back", root_path
%h2 Import Users
= form_tag submit_users_path, multipart: true do
    = file_field_tag :file, accept: ".xlsx"
    = submit_tag "Import", :class => "btn btn-primary", :style=>"margin-top: 20px;"