- user = User.find_by(id: comment.user_id)
- if not user.nil? and user.provider_username
  %div.commenter_name
    = user.provider_username + ":   "
  %div.comment_text
    = comment.content.to_s
- else
  %div.comment_text
    = comment.content