%div.col-md-12
  %table#projectlist_new{:class => 'table table-bordered'}
    %thead
      %tr
        %th
          Project Name
        - metric_names.each do |metric_name|
          %th
            = metric_name
    %tbody
      - projects.each do |project|
        %tr{:align => 'center'}
          = render :partial => 'metrics',
                   :locals => { :project => project,
                                :metric_names => metric_names }