%table.metric_list
  %thead
    %tr
      - project.latest_metric_samples.each do |sample|
        %th
          = sample.try(:metric_name).titleize + " " + '%.2f'.try(:%,sample.try(:score) || 0.0)
    %tbody
      %tr
        - project.latest_metric_samples.each do |sample|
          %td
            -# .chart_place{:id => "project##{project.id}.metric:##{sample.try(:metric_name)}"}
            -# = "PLACEHOLDER"
            %span{:class => "metric_image"}#{raw sample.try(:image)}
