%table.metric_list
   %thead
      %tr
         - project.latest_metric_samples.each do |sample|
            %th
               = sample.try(:metric_name).titleize
   %tbody
      %tr
         - project.latest_metric_samples.each do |sample|
            %td
               %span{:class => "metric_score"}= '%.2f'.try(:%,sample.try(:score) || 0.0)
               %span{:class => "metric_image"}#{raw sample.try(:image)}
   