%div.slider-container.col-md-12
  %div
    Current date:
    %button{class: "btn btn-default btn-sm date-nav", id: "day-before"}
      %span{class: 'glyphicon glyphicon-chevron-left'}
    %strong{:id => "date-label"}= Date.today.to_s
    %button{class: "btn btn-default btn-sm date-nav", id: "day-after"}
      %span{class: 'glyphicon glyphicon-chevron-right'}
  %div#slider-progress-indicator
    Loading...
