<strong>What's this?</strong>
<p>This metric shows the number of commits per day for the last seven days.</p>
<p>Data is collected from <a href="https://developer.github.com/v3/repos/commits/" target="_blank">GitHub API</a>.</p>