<strong>What's this?</strong>
<p>This metric shows the distribution of story points.</p>
<p>Data is collected from <a href="https://www.pivotaltracker.com/help/api/rest/v5#Story" target="_blank">Pivotal Tracker API</a>.</p>
<strong>Why do we show this?</strong>
<p>Story points should be used as an estimation of story difficulty. Stories should have points and the estimation should become better over time. </p>