<strong>What's this?</strong>
<p>This metric shows the status of all pull requests.</p>
<p>Data is collected from <a href="https://developer.github.com/v3/pulls/#list-pull-requests" target="_blank">GitHub API</a>.</p>
<p>Commented pull requests are pull requests with at least one comment.</p>
<strong>Why do we show this?</strong>
<p>
  Each feature should be developed on its own branch, and merged back to main branch via pull requests.
  This way the master branch is always ready for deployment, and history of code base is clear.
</p>
<p>
  Pull requests should be reviewed before being merged. Pull request review can increase the stability of
  the system. It also help sharing knowledge about the code base.
</p>