<strong>What's this?</strong>
<p>This metric shows the number of messages per person from the Slack channel.</p>
<p>Data is collected from <a href="https://api.slack.com/" target="_blank">Slack API</a>.</p>