<strong>What's this?</strong>
<p>This metric checks whether story description follows the prescribed format.</p>
<p>Data is collected from <a href="https://www.pivotaltracker.com/help/api/rest/v5#Story" target="_blank">Pivotal Tracker API</a>.</p>
