<strong>What's this?</strong>
<p>This metric shows the distribution of assigned story points of each member.</p>
<p>Data is collected from <a href="https://www.pivotaltracker.com/help/api/rest/v5#Story" target="_blank">Pivotal Tracker API</a>.</p>
<p>Story is "assigned" to a user when the user is the owner of the story.</p>