<strong>What's this?</strong>
<p>
  This metric shows the distribution of story points for different story states.
  Only stories created within last seven days are considered.
</p>
<p>Data is collected from <a href="https://www.pivotaltracker.com/help/api/rest/v5#Story" target="_blank">Pivotal Tracker API</a>.</p>