<strong>What's this?</strong>
<p>
  This metric shows state of the latest build (encoded by color), and ratio of success builds (encoded by number).
  Only builds from the main branch are considered.
</p>
<p>Data is collected from <a href="https://docs.travis-ci.com/api/" target="_blank">Travis CI API</a>.</p>