#submetric_list .chart_place {
  width: 100%;
  height: 100%;
}

#submetric_list .sub-metric {
  height: 600px;
  overflow: auto;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.valueline {
  stroke: steelblue;
  stroke-width: 5;
  fill: none;
}

/* CSS used here will be applied after bootstrap.css */
.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

#comment_form {
  position: fixed;
}

.comments {
  position: absolute;
}