// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.outdated-metric {
	opacity: 0.3;
}

.ui-slider-handle {
	outline: none;
}

.slider-container {
	position: relative;
	width: 100%;
	padding: 5px 0px;
}

#slider-progress-indicator {
	display: none;
	position: absolute;

}

.slider-error-msg {
	color: red;
}


#gap{
  	padding-bottom: 14px;
}
#projectlist{
    border-collapse: collapse;
    width: 100%;
    margin-right: auto;
}

#projectlist td, #projectlist th {
    border: 1px solid #ddd;
    padding: 8px;
}

#projectlist tr:nth-child(even){background-color: #f2f2f2;}

#projectlist tr:hover {background-color: #ddd;}

#projectlist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    width: 16%;
}
#projectlist tr {
   text-align: left;
   width: 16%;
}

.expand_button {
	text-align: right;
	// font-weight: bold;
	text-decoration: underline;
}

#metricInfo {
  padding: 2ex;
  position: absolute;
  border: 2px double grey;
  background: white;
}
