%table.table
    %thead
        %h2 Teams:
        %tr
            %th= "Teams"
            %th= "Updates"
    %tbody
        - @teams.each do |team|
            %tr
                %td= link_to team.name, show_a_team_path(:iter =>@iter, :team =>team.id)
               
